_build/doctrees/BeforeYouBegin.doctree
_build/doctrees/environment.pickle
_build/doctrees/index.doctree
_build/html/.buildinfo
_build/html/BeforeYouBegin.html
_build/html/genindex.html
_build/html/index.html
_build/html/objects.inv
_build/html/search.html
_build/html/searchindex.js
_build/html/_images/BartShieldsBioPic.jpg
_build/html/_images/PureSecLogo.png
_build/html/_images/QSIASR.jpg
_build/html/_images/QSIF-ExpandedLogo.jpg
_build/html/_images/QSI-SDS-RelationshipTables.jpg
_build/html/_images/SimultaneousQSRs.jpg
_build/html/_images/ValBercoviciBioPic.png
_build/html/_sources/BeforeYouBegin.rst.txt
_build/html/_sources/index.rst.txt
_build/html/_static/alabaster.css
_build/html/_static/basic.css
_build/html/_static/custom.css
_build/html/_static/doctools.js
_build/html/_static/documentation_options.js
_build/html/_static/file.png
_build/html/_static/language_data.js
_build/html/_static/minus.png
_build/html/_static/plus.png
_build/html/_static/pygments.css
_build/html/_static/searchtools.js
_build/html/_static/sphinx_highlight.js
